In [1]:
import requests
import json 
import pandas as pd
import random as rd

In [12]:
rd.seed(101)

lats = []
longs = []

for i in range(100):
    lat = (round(rd.uniform(16.09, 16.03),6))
    long = (round(rd.uniform(108.21, 108.22), 6))
    if (lat in lats) and (long in longs):
        continue
    else:
        lats.append(lat)
        longs.append(long)

print(len(lats))
print(len(longs))

100
100

In [13]:
# Init the first row in df

df = pd.DataFrame()

for i in range(len(lats)):
    url = f'https://api.openweathermap.org/data/2.5/weather?lat={lats[i]}&lon={longs[i]}&appid=b85ed4c8bcfeafb299e9bafee9dab413'
    res = requests.get(url)
    data = pd.json_normalize(json.loads(res.text))
    df = pd.concat([df, data], ignore_index=True)

df

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2119,16.0551,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2192,16.0321,...,1007,70,5.14,360,20,1,9306,VN,1696459041,1696502036
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1583992,Turan,200,108.2166,16.0620,...,1007,70,5.14,360,20,1,9306,VN,1696459043,1696502036
3,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488405,25200,1583992,Turan,200,108.2122,16.0771,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037
4,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488878,25200,1583992,Turan,200,108.2169,16.0727,...,1007,70,5.14,360,20,1,9306,VN,1696459043,1696502036
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2119,16.0551,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037
96,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488407,25200,1594018,Ap Ba,200,108.2166,16.0492,...,1007,70,5.14,360,20,1,9306,VN,1696459042,1696502036
97,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488878,25200,1583992,Turan,200,108.2169,16.0727,...,1007,70,5.14,360,20,1,9306,VN,1696459043,1696502036
98,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488413,25200,1594018,Ap Ba,200,108.2179,16.0414,...,1007,70,5.14,360,20,1,9306,VN,1696459042,1696502036
99,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2119,16.0551,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037

In [14]:
df.to_csv('weather.csv', index = False)

In [15]:
newDf = pd.read_csv('./weather.csv')
newDf.head()

,weather,base,visibility,dt,timezone,id,name,cod,coord.lon,coord.lat,...,main.pressure,main.humidity,wind.speed,wind.deg,clouds.all,sys.type,sys.id,sys.country,sys.sunrise,sys.sunset
0,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2119,16.0551,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037
1,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1594018,Ap Ba,200,108.2192,16.0321,...,1007,70,5.14,360,20,1,9306,VN,1696459041,1696502036
2,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488404,25200,1583992,Turan,200,108.2166,16.0620,...,1007,70,5.14,360,20,1,9306,VN,1696459043,1696502036
3,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488405,25200,1583992,Turan,200,108.2122,16.0771,...,1007,70,5.14,360,20,1,9306,VN,1696459044,1696502037
4,"[{'id': 801, 'main': 'Clouds', 'description': ...",stations,10000,1696488878,25200,1583992,Turan,200,108.2169,16.0727,...,1007,70,5.14,360,20,1,9306,VN,1696459043,1696502036