In [3]:
import pandas as pd
import pymongo
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
# Connect with MongoDB server
client = pymongo.MongoClient('mongodb://localhost:27017')
db = client['weather']
collection = db['weather-daily']

In [5]:
# Retrieve and convert the data
data = list(collection.find())
df = pd.DataFrame(data)
df.head()

,_id,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,unit-time,unit-weathercode,...,unit-windgusts_10m_max,unit-et0_fao_evapotranspiration,data-time,data-weathercode,data-temperature_2m_mean,data-precipitation_sum,data-precipitation_hours,data-windspeed_10m_max,data-windgusts_10m_max,data-et0_fao_evapotranspiration
0,65224e114a5c081efb860a5b,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,...,km/h,mm,1993-09-30,53,27.1,2.5,8.0,11.6,24.5,4.13
1,65224e114a5c081efb860a5c,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,...,km/h,mm,1993-10-01,61,26.1,6.3,20.0,11.6,26.6,3.77
2,65224e114a5c081efb860a5d,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,...,km/h,mm,1993-10-02,63,24.9,34.6,22.0,18.8,34.6,1.98
3,65224e114a5c081efb860a5e,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,...,km/h,mm,1993-10-03,63,25.1,41.7,24.0,25.7,46.8,1.41
4,65224e114a5c081efb860a5f,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,...,km/h,mm,1993-10-04,61,25.3,19.3,20.0,22.0,38.9,2.76

In [6]:
# Modify the dataframe
df.drop('_id', axis = 1, inplace = True)
df.head()

,latitude,longitude,generationtime_ms,utc_offset_seconds,timezone,timezone_abbreviation,elevation,unit-time,unit-weathercode,unit-temperature_2m_mean,...,unit-windgusts_10m_max,unit-et0_fao_evapotranspiration,data-time,data-weathercode,data-temperature_2m_mean,data-precipitation_sum,data-precipitation_hours,data-windspeed_10m_max,data-windgusts_10m_max,data-et0_fao_evapotranspiration
0,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,Â°C,...,km/h,mm,1993-09-30,53,27.1,2.5,8.0,11.6,24.5,4.13
1,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,Â°C,...,km/h,mm,1993-10-01,61,26.1,6.3,20.0,11.6,26.6,3.77
2,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,Â°C,...,km/h,mm,1993-10-02,63,24.9,34.6,22.0,18.8,34.6,1.98
3,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,Â°C,...,km/h,mm,1993-10-03,63,25.1,41.7,24.0,25.7,46.8,1.41
4,16.0,108.20001,154.85096,25200,Asia/Ho_Chi_Minh,+07,11.0,iso8601,wmo code,Â°C,...,km/h,mm,1993-10-04,61,25.3,19.3,20.0,22.0,38.9,2.76

In [10]:
dailyData = df[[col for col in df.columns if col.startswith('data-')]]
dailyData.head()

,data-time,data-weathercode,data-temperature_2m_mean,data-precipitation_sum,data-precipitation_hours,data-windspeed_10m_max,data-windgusts_10m_max,data-et0_fao_evapotranspiration
0,1993-09-30,53,27.1,2.5,8.0,11.6,24.5,4.13
1,1993-10-01,61,26.1,6.3,20.0,11.6,26.6,3.77
2,1993-10-02,63,24.9,34.6,22.0,18.8,34.6,1.98
3,1993-10-03,63,25.1,41.7,24.0,25.7,46.8,1.41
4,1993-10-04,61,25.3,19.3,20.0,22.0,38.9,2.76